<div class="row border-bottom" style="margin-bottom:15px;">
  <div class="col-9">
      <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
      {{ vaga.titulo }}
    </h4>
    <div>
      <strong>Localidade:</strong>
      {{ vaga.localidade }}
    </div>
    <div>
      <strong>Salário:</strong>
      {{ vaga.salario }}
    </div>
  </div>
  <div class="col-3">
      <a href="https://wa.me/+5531980139754?text=Olá, fiz uma visita na sua homepage, e estou interessado na vaga de {{vaga.titulo}}, em {{vaga.localidade}}" target="_blank" type="button" class="btn btn-outline-primary">Aplicar</a>

  </div>
</div>