<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marley Paranhos - Desenvolvedor Back-end Jr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container">
       <h1 class="text-center mt-2 mb-2">Simulação de Vagas</h1>
    <img class="img-fluid" src="{{url_for('static', filename='carreira.jpg')}}"/>
    <h2 class="text-center mt-2">Um pouco sobre mim</h2>
    <p class="lead">
      Essa aplicação está em fase de desenvolvimento, e eu a espera de uma oportunidade de poder contribuir e aprender ainda mais.
      <br>
      Me chamo Marley Paranhos, sou Desenvolvedor Back-end Jr.
      <br>
      Estou desenvolvendo esta aplicação para demonstrar minhas habilidades em desenvolvimento web com Python, Flask, SQLAlchemy, e tecnologias de front-end como HTML, CSS e Bootstrap.
      <br>
      O projeto está sendo criado com foco em boas práticas, segurança e escalabilidade, e será utilizado como um portfólio profissional.
      <br>
      Peço a sua colaboração em fazer um teste na minha aplicação pra ver se está funcional.
      <br>
      Caso tenha alguma sugestão, dúvida ou crítica, por favor, entre em contato comigo no botão "Entrar em Contato".
    </p>
    <h2 class="text-center">Vagas abertas</h2>
    <p>
      {% for vaga in vagas %}
        {% include 'includes/vagas_item.html' %}
      {% endfor %}
    </p>
    <div class="text-center">
      <a href="https://wa.me/+5531980139754" target="_blank" class="btn btn-primary btn-lg">Entrar em Contato</a>
    </div>
    </div>
    {% include 'includes/footer.html' %}
  </body>
</html>