<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marley Paranhos - Desenvolvedor Back-end Jr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container">
       <h1 class="text-center mt-2 mb-2">Simulação de Vagas</h1>
    <img class="img-fluid" src="{{url_for('static', filename='carreira.jpg')}}"/>
    <h2 class="text-center mt-2">Um pouco sobre mim</h2>
    <p class="lead">
      Esta aplicação está em fase de desenvolvimento e reflete meu <strong>compromisso contínuo</strong> com a contribuição e o aprendizado.
      <br>
      Sou <strong>Marley Paranhos, Desenvolvedor Back-end Jr.</strong>, especializado em Python, Flask e SQLAlchemy, com experiência também em tecnologias de front-end como HTML, CSS, JavaScript e Bootstrap.
      <br>
      O projeto foi desenvolvido com foco em <strong>boas práticas, segurança e escalabilidade</strong>, e está sendo utilizado como meu portfólio profissional.
      <br>
      <strong>Sua colaboração será muito bem-vinda!</strong>
      <br>
      Fique à vontade para testar a aplicação e, caso tenha sugestões, dúvidas ou críticas, entre em contato através do botão "Entrar em Contato".
    </p>
    <h2 class="text-center">Vagas abertas</h2>
    <p>
      {% for vaga in vagas %}
        {% include 'includes/vagas_item.html' %}
      {% endfor %}
    </p>
    <div class="text-center">
      <a href="https://wa.me/+5531980139754" target="_blank" class="btn btn-primary btn-lg">Entrar em Contato</a>
    </div>
    </div>
    {% include 'includes/footer.html' %}
  </body>
</html>